body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.flex-center {
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

:root {
  --Orange: #F2A900;

}